@import url("../fonts/fonts.css");
@import url("variables.css");
@import url("buttons.css");
@import url("reset.css");

html {
}
body {
  font-family: "Gilroy";
}

.header {
  padding: 40px 60px 40px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_list {
  justify-content: start;
}
.header_list {
  display: flex;
}

.header_list_item {
  text-decoration: none;
  margin-right: 30px;
  color: #000;
  display: inline-block;
}

.last-item {
  margin-right: 0px;
}

.logo {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  font-family: "Homemade Apple";
  display: flex;
}

@media (max-width: 375px) {
  body {
    width: 100%;
  }

  .header {
    padding: 30px 10px;
    font-size: 10px;
    justify-content: space-around;
  }
  .logo {
    font-size: 14px;
  }
  .header-btn {
    font-size: 12px;
    padding: 8px 10px;
  }
  .header_list_item {
    justify-content: space-between;
    margin-right: 8px;
    font-size: 12px;
  }
  .header_list {
    margin-left: 12px;
  }
}

.hero-side-image-right {
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}
.top-hero-content {
  width: 50%;
}
.hero-right-img {
  width: 50%;
}

.top-hero-content-title {
  font-size: 56px;

  font-weight: bold;
}
.top-hero-content-text {
  font-size: 20px;
  margin: 35px 0 60px 0;
  line-height: 28.13px;
}
.hero-button-primary {
  color: #fff;
  padding: 20px 25px;
}

.hero-side-image-left {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
}
.bottom-hero-content-title {
  font-size: 32px;
}
.bottom-hero-content-text {
  word-break: break-word;
  line-height: 28.13px;
  font-size: 20px;
  margin: 30px 0 50px 0;
}
.hero-button-secondary {
  padding: 20px 40px;
}

.top-hero-content {
  overflow: hidden;

  padding: 150px 120px 120px 150px;
  height: 700px;
  top: 0;
  background-color: var(--bgColor);
}

.bottom-hero-content {
  padding: 150px 150px 100px 100px;
  height: 600px;
  width: 50%;

  background-color: var(--bgColor);
}
.hero-left-img {
  width: 50%;
}

@media (max-width: 375px) {
  .hero-side-image-right {
    flex-direction: column;
    display: flex;
  }
  .hero-side-image-left {
    flex-direction: column;
    display: flex;
  }
  .hero-left-img img {
    width: 100%;
  }
  .top-hero-content {
    padding: 30px;
    order: 2;
    height: 50%;
  }
  .bottom-hero-content {
    padding: 30px;
    width: 100%;
    height: 50%;
  }

  .top-hero-content-title {
    font-size: 30px;
  }
  .bottom-hero-content-title {
    font-size: 30px;
    text-align: center;
  }
  .hero-right-img {
    order: 1;
  }

  .hero-button-secondary {
    margin-left: 20%;
  }
  .hero-button-primary {
    margin-left: 25%;
  }
  .hero-right-img img {
    width: 100%;
  }
}
.posts {
  overflow: hidden;
}
.posts_cards {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
  flex-direction: row;
}
.posts_title {
  margin: 100px 0 20px 0;
  text-align: center;
  font-size: 32px;
}
.posts_text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 64px;
}
.posts_card {
  display: inline-block;
  margin-right: 30px;
  background-color: #fafafa;
  transition: 0.3s;
}
.posts_card:hover {
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: 0.3s;
}
.last_card {
  margin-right: 0px;
}
.card_content {
  height: 166px;
  padding: 24px;
}
.card_img {
  height: 270px;
}
.card_title {
  font-size: 20px;
  margin-bottom: 70px;
}
@media (max-width: 375px) {
  .posts_title {
    font-size: 30px;
  }
  .posts_text {
    font-size: 18px;
  }
  .posts_cards {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
  }
  .posts_card {
    margin-right: 0px;
    width: 80%;
    align-self: center;
    margin-top: 10px;
  }
  .card_img {
    width: 100%;
    height: auto;
  }
  .card_content button {
    position: absolute;
    right: 20%;
  }
}
.cta_section {
  height: 240px;
  background-color: var(--orange);
  padding: 80px 230px 70px 230px;
}
.cta_section div {
  display: inline-block;
}
.cta_title {
  font-size: 32px;
  font-weight: bold;
  color: #231f20;
  line-height: 45px;
}
.cta_subtitle {
  font-size: 32px;
  line-height: 45px;
}
.cta_buttons {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 15px;
}
.cta-btn-primary {
  margin-left: 200px;
  color: #f1f1f2;
  font-size: 18px;
  padding: 18px 25px;
  border: 1px solid #231f20;
  background-color: #231f20;
}
.cta-btn-primary:hover {
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}

.cta-btn-secondary {
  color: #231f20;
  margin-left: 16px;
  padding: 18px 25px;
  border: 1px solid #231f20;
}
.cta-btn-secondary:hover {
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}
@media (max-width: 375px) {
  .cta_title {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
    color: #231f20;
  }
  .cta_subtitle {
    font-size: 20px;
  }
  .cta_section {
    height: 240px;
    background-color: var(--orange);
    padding: 10px;
  }
  .cta-btn-primary {
    font-size: 16px;
    margin-left: 0px;
    padding: 18px 25px;
  }
  .cta_buttons {
    margin-top: 20px;
  }
  .cta-btn-secondary {
    color: #231f20;
    margin: 0px;
    font-size: 16px;
    padding: 18px 25px;
    border: 1px solid #231f20;
  }
}
.posts-blog {
  padding: 90px 135px 80px 135px;
  overflow: hidden;
}
.blog-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 24px;
}
.blog-text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 70px;
}
.blog-block {
  position: relative;
  margin: 0 auto;

  height: 370px;
  width: 1170px;
  background-color: #231f20;
}
.blog-block div {
  display: inline-block;
}
.blog-img {
}
.block-content {
  position: absolute;
  padding: 60px 200px 50px 30px;
  overflow: hidden;
  height: 370px;
}
.author-title {
  margin-bottom: 27px;
  font-size: 14px;
  color: #fff;
}
.blog-block-title {
  font-size: 48px;
  color: #fff;
  margin-bottom: 60px;
}
.blog-button {
  color: #fff;
  font-size: 18px;
}
.blog-cards {
  margin: 40px 0px auto;
  display: flex;
  flex-direction: row;
}
.blog-cards div {
  display: inline-block;
}

.card-title {
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 16px;
}
.blog-card-text {
  margin-bottom: 16px;
  line-height: 25.31px;
  font-size: 18px;
}

.blog-card {
  padding: 50px;
  width: 570px;
  height: 290px;
  transition: 0.3s;
}
.blog-card:hover {
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
@media (max-width: 375px) {
  .posts-blog {
    padding: 50px 30px;
  }
  .blog-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 24px;
  }

  .blog-text {
    text-align: center;
    font-size: 18px;
    margin-bottom: 70px;
  }
  .block-content {
    width: 100%;
    height: 80%;
    position: relative;
    padding: 30px 30px 60px 30px;
  }
  .blog-block {
    width: 100%;
    height: 50%;
    background-color: #231f20;
  }
  .blog-img {
    width: 100%;
    height: auto;
  }
  .author-title {
    margin-bottom: 35px;
    font-size: 14px;
    color: #fff;
  }
  .blog-block-title {
    font-size: 30px;
    color: #fff;
    margin-bottom: 60px;
  }
  .blog-button {
    color: #fff;
    font-size: 16px;
    position: absolute;
    right: 20%;
  }
  .blog-cards {
    margin: 10px;
    display: flex;
    height: 100%;
    padding: 30px 0 0 0;
    flex-direction: column;
  }
  .blog-card {
    padding: 10px;
    width: 100%;
    height: 290px;
    transition: 0.3s;
  }
  .blog-button {
    position: absolute;
    right: 20%;
  }
  .blog-card-btn {
    position: absolute;
    right: 20%;
  }
  .card-title {
    font-size: 20px;
  }
  .blog-card-text {
    font-size: 16px;
  }
}

.footer {
  background-color: #fafafa;
  height: 410px;
  padding-top: 115px;
}
.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-list li {
  display: inline-block;
}
.footer-li {
  margin-right: 80px;
}
.footer-li:last-child {
  margin-right: 0px;
}
.footer-li a {
  color: #000;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
}
.li-logo {
  margin: 0 140px 0 60px;
}

.li-logo a {
  font-family: "Homemade Apple";
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  color: var(--orange);
}

.footer-hr {
  width: 80%;
  margin: 50px auto;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;

  padding: 0;
}
.footer-logos {
  display: flex;
  margin-bottom: 70px;
  justify-content: center;
}
.footer-logo:last-child {
  margin-right: 0px;
}
.footer-logos li {
  display: inline-block;
  margin-right: 25px;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 375px) {
  .footer {
    background-color: #fafafa;
    height: 370px;
    padding: 40px 0;
  }
  .footer-li {
    margin-right: 10px;
  }
  .li-logo {
    margin: 0px;
  }
  .footer-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
  }
  .footer-hr {
    width: 80%;
    margin: 30px auto;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;

    padding: 0;
  }
}

@media (max-width: 767px;) {
  .logo {
    font-size: 50px;
  }
}
